* {
    font-family: sans-serif;
    outline: none;
}

html, body{
    height: 100%;
    margin: 0;
}

aside {
    background-color: #214FA4;
    color: white;
    text-align: center;
    padding: 1em;
    font-family: 'Petit Formal Script', cursive;
}

/* Nav bar */
nav {
    background-color: #109547;
}

nav img {
    height: 6em;
}

nav li {
    display: inline-block;
}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5em;
    padding-right: 0;
}

.navLink {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    padding-bottom: 0.25em;
}

.navLink:hover {
    border-bottom: 3px solid#214FA4;
}

li > button {
    font-size: 1em;
    background-color: #214FA4;
    border: none;
    color: white;
    padding: 0.7em;
    border-radius: 0.6em;
}

.shownNotifications{
    text-decoration: none;
    position:absolute;
    display: none;
    overflow: auto;
    z-index: 1;
}

#heading {
    font-weight: 600;
}

.shownNotifications > div {
    border-bottom: rgb(175, 175, 175) solid 1px;
    padding: 0.5em 0.4em;
}
 
.shownNotifications > div:nth-child(even) {
    background-color: rgb(221, 248, 221);
}

.notification{
    display: inline-block;
    position: relative;
}

.show{
    display: block;
    background-color: white;
    width:13em; 
    border-radius: 5%;
    transition-delay: 1.5s;
    height: auto;
    padding: 1em;
    right: 0;
    border: black solid 1px;
}


/* Main part */
section:nth-of-type(1) {
    grid-area: activity;
}
section:nth-of-type(2) {
    grid-area: schedual;
}
section:nth-of-type(3) {
    grid-area: video;
}

section {
    background-color:white;
    padding: 1.5em;
    border-radius: 1.5em;
}

section > img {
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "activity schedual"
    "video video";
    background-color: #214FA4;
    padding: 1.5em;
    grid-gap: 1.5em;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.75em;
}

h2 {
    color: #0c3580;
    margin: 0;
    padding-bottom: 1em;
}

/* Activities */
table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: rgb(175, 175, 175) solid 1px;
}

tr:nth-child(even) {
    background-color: rgb(221, 248, 221);
}

th {
    text-align: left;
    padding-bottom: 0.3em;
}

td {
    padding: 0.5em 0;
}

/* Footer */
footer{
    background-color: #109547;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

footer p{
    padding-left: 5em;
}


/* 404 */
#error {
    display: grid;
    place-items: center;
    height: 62.6%;
}


/* Information */
#information {
    text-align: center;
    height: 62.6%;
}

#information > div {
    margin-bottom: 2.5em;
}

#information h1 {
    font-size: 1.8em;
    color: #0c3580;
    margin-bottom: 2.5em;
    margin-top: 2em;
}

#information h3 {
    margin-bottom: 0;
}